@model Proyecto.Model.Ventas

@{
    ViewData["Title"] = "Aplicar Descuento";
}

<h1>Aplicar Descuento</h1>

<h4>Ventas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ApliqueDescuento">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="PorcentajeDesCuento" class="control-label"></label>
                <input asp-for="PorcentajeDesCuento" class="form-control" />
                <span asp-validation-for="PorcentajeDesCuento" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Aplicar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
