@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmación de Registro";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            <A ID="confirm-link" href="@Model.EmailConfirmationUrl"> Haga clic aquí para validar su cuenta </A>
        </p>
    }
    else
    {
        <p>
            Por favor revise su correo electrónico.
        </p>
    }
}

