

@model Proyecto.Model.AperturasDeCaja

@{
    ViewData["Title"] = "Create";
}

<form action="@Url.Action("AbrirCaja", "Caja")" method="post">
    <button type="submit">Abrir Caja</button>
    </form>