@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>
        Diego Reyes B96469
        Elder López Chavarría C04336
        Fernando Sanchez Moraga B97268
        Francisco Castillo Salazar B61636
        Marco Duarte Delgado B92661
    </p>
</div>
