@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <h4>Autores</h4>
    <p>
        Diego Reyes B96469 <br />
        Elder López Chavarría C04336 <br />
        Fernando Sanchez Moraga B97268<br>
        Francisco Castillo Salazar B61636<br>
        Marco Duarte Delgado B92661<br>
    </p>
</div>
