html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

thead{
    background-color:darkcyan;
    color: white;
}

.btn_create {
    text-decoration: none;
    border: 5px;
    background-color: dodgerblue;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
}

.btn-edit {
    text-decoration: none;
    border: 5px;
    background-color: dodgerblue;
    color: #fff;
    padding: 4px;
    border-radius: 10px;
    font-weight: bold;
}

.btn-details {
    text-decoration: none;
    border: 5px;
    background-color: #EADC00;
    color: #fff;
    padding: 4px;
    border-radius: 10px;
    font-weight: bold;
}

.btn-addItem {
    text-decoration: none;
    border: 5px;
    background-color: green;
    color: #fff;
    padding: 4px;
    border-radius: 10px;
    font-weight: bold;
}





