html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

thead {
    background-color: darkcyan;
    color: white;
}

.btn_create {
    text-decoration: none;
    border: 5px;
    background-color: dodgerblue;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
}

.btn-edit {
    text-decoration: none;
    border: 5px;
    background-color: dodgerblue;
    color: #fff;
    padding: 4px;
    border-radius: 10px;
    font-weight: bold;
}

.btn-details {
    text-decoration: none;
    border: 5px;
    background-color: #EADC00;
    color: #fff;
    padding: 4px;
    border-radius: 10px;
    font-weight: bold;
}

.btn-addItem {
    text-decoration: none;
    border: 5px;
    background-color: green;
    color: #fff;
    padding: 4px;
    border-radius: 10px;
    font-weight: bold;
}

.Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex {
    width: 50%;
}

#txtCantidad {
    width: 70px;
}

.invoice {
    border-collapse: collapse;
    width: 100%;
}

    .invoice td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .invoice tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .invoice tr:first-child {
        font-weight: bold;
    }

    .invoice .total {
        font-weight: bold;
        background-color: #ddd;
    }
